// COLORS
$white-color: white;
$black-color: black;
$yellow-color: yellow;
$pink-color: pink;
$blue-color: blue;
$dimgray-color: dimgray;
$red-color: red;
$green-color: green;
$orange-color: orange;
$dark-cyan: #0e8784;
$dark-grey-blue: #333d4b;
$pale-orange: #fdd6ba;
$light-cream: #fefcf7;
$grey: #83888f;

// FONT-SiZE
$small-font: 12px;
$medium-font: 16px;
$large-font: 20px;
